body {
  margin: 0;
  font-family: 'Macondo', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin: 0;
}

h1{
  margin: 0;
}

header {
  width: 100%;
  background-color: #f7f7f7;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
}

.appbar {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appbar-imagem {
  flex-grow: 1;
}

.imagem {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.appbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.appbar-menu-item {
  text-decoration: none;
  color: black;
}

.appbar-menu-item:hover {
  color: #6b6b6b;
}

main {
  width: 100%;
}

.conteudo {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

.conteudo-imagem {
  flex-grow: 1;
}

.imagem-main {
  width: 350px;
  height: 400px;
}

.conteudo-titulo-texto {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.conteudo-titulo {
  margin-left: 40px;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  text-transform: lowercase;
}

.lista {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
  margin-left: 0;
}

.lista-habilidades {
  color: black;
}

.info {
  margin-left: 40px;
  font-size: 16px;
}

 footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 64px;
  background-color: #f7f7f7;
  width: 100%;
}

.rodape {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.rodape-arroba {
  flex-grow: 1;
}

.arroba {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.arroba:hover {
  color: #6b6b6b;
}

.rodape-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.rodape-menu-item {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.rodape-menu-item:hover {
  color: #6b6b6b;
}

@media (max-width: 480px) {
  .imagem {
    width: 28px;
    height: 28px;
  }
  
  .appbar-menu-item {
    font-size: 12px;
  }
  
  .appbar {
    padding-left: 18px;
    padding-right: 18px;
  }
  
  .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .imagem-main {
    width: 300px;
    height: 340px;
  }

  .conteudo-titulo-texto {
    margin-right: 70px;
    gap: 0px;
  }

  .conteudo-titulo {
    font-size: 26px;
    margin-right: 34px;
  }

   footer {
    position: relative;
  }
  
  .rodape {
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 10px;
  }

  .rodape-arroba {
    display: none;
  }

  .arroba {
    font-size: 10px;
  }

  .rodape-menu {
    margin: auto;
    margin-top: 25px;
  }

  .rodape-menu-item {
    font-size: 10px;
  }
}

@media (min-width: 481px) {
  .appbar {
    width: 1100px;
  }

  .conteudo {
    width: 900px;
  }

  .rodape {
    width: 1100px;
  }
}